html,
body {
  background-color: rgb(67, 226, 255);
  background-image: url('./assets/background.webp');
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: 'Kosugi Maru', sans-serif;
}
#app {
  margin-left: 50px;
}

.cb {
  clear: both;
}

.whiteBox {
  background-color: rgba(#f0f0f0, 0.5);
  width: 700px;
  border-radius: 10px;
  padding: 12px;
}